<article class="calculator calculator-wrapper">
    <section class="calculator-input">
        <input type="text"/>
    </section>
    <section class="calculator-buttons-section">
        <div class="calculator-number-buttons">
            <div class="button-wrapper calcuator-button">
                <button>7</button>
            </div>
            <div class="button-wrapper calcuator-button">
                <button>8</button>
            </div>
            <div class="button-wrapper calcuator-button">
                <button>9</button>
            </div>

            <div class="button-wrapper calcuator-button">
                <button>4</button>
            </div>
            <div class="button-wrapper calcuator-button">
                <button>5</button>
            </div>
            <div class="button-wrapper calcuator-button">
                <button>6</button>
            </div>
            <div class="button-wrapper calcuator-button">
                <button>1</button>
            </div>
            
            <div class="button-wrapper calcuator-button">
                <button>2</button>
            </div>
            
            <div class="button-wrapper calcuator-button">
                <button>3</button>
            </div>
            

            <div class="button-wrapper calcuator-button">
                <button>0</button>
            </div>
            <div class="button-wrapper calcuator-button">
                <button>.</button>
            </div>
            <div class="button-wrapper calcuator-button">
                <button>%</button>
            </div>
            
            
            
        </div>
        <div class="calculator-number-buttons">

            <div class="button-wrapper calcuator-button">
                <button>/</button>
            </div>
            <div class="button-wrapper calcuator-button">
                <button>x</button>
            </div>
            <div class="button-wrapper calcuator-button">
                <button>-</button>
            </div>
            <div class="button-wrapper calcuator-button">
                <button>+</button>
            </div>
            <div class="button-wrapper calcuator-button">
                <button>U</button>
            </div>
            <div class="button-wrapper calcuator-button">
                <button>(</button>
            </div>
            <div class="button-wrapper calcuator-button">
                <button (click)="isStart = !isStart">C</button>
            </div>
            

        </div>
        

    </section>


</article>